@use '../base/variables' as *;

/** Media Queries **/

@mixin telefono {
    @media (max-width: #{$telefono}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$telefono + 1}) and (max-width: #{$tablet}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$tablet + 1}) {
      @content;
    }
  }


  
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgcolor, $display, $hoverColor) {
    display: $display;
    background-color: $bgcolor;
    color: $blanco;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: $separacion;
    border-radius: 25px;
    width: auto; // Asegura que no ocupe ancho completo
    max-width: fit-content; // Ajusta al contenido
    &:hover {
        background-color: $hoverColor;
    }
}