@use '../base/mixins' as m;
@use '../base/variables' as v;




@include m.tablet {
    .contenedor-anuncios {
        @include m.grid(3,2rem)
        
    }
    .contenido-anuncio{
        display: flex;
        flex-direction: column;
        align-items: center
       
    }
    

}
@include m.desktop {
    .contenedor-anuncios {
        @include m.grid(3,3rem);
        display: flex;                  // Permite que los elementos se ajusten si no caben
        justify-content: center;    // Centra los elementos horizontalmente
        gap: 2rem;                  // Espacio entre los elementos
        width: 100%;                // Asegura que ocupe todo el ancho
        margin: 0 auto;             // Centra el contenedor si tiene un ancho limitado
        box-sizing: border-box;
    }
.contenido-anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  
}
.iconos-caracteristicas li {
    display: flex;
    align-items: center;
    gap: 10px; // Espacio entre imagen y texto
}
.iconos-caracteristicas p {
    padding: 10px;
}
.precio{
    color:v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}


}

@include m.telefono{
    .contenedor-anuncios {
        @include m.grid(1, 2rem);
        
        
    }
    .contenido-anuncio{
        display: flex;
        flex-direction: column;
        align-items: center
        
    }
    .iconos-caracteristicas li {
        display: flex;
        align-items: center;
        gap: 10px; // Espacio entre imagen y texto
    }
    .iconos-caracteristicas p {
        padding: 10px;
    }

   

}
.anuncio{
    width:500px;
    height:760px;
    display: flex;
    flex-direction: column;
    justify-content: space-aorund;
    background-color:v.$gris;
    border: 1px solid v.$grisOscuro;
    
    .contenido-anuncio{
        padding:1rem ;
        
    }
    
    h3, p{
        word-wrap: break-word;  // Permite que las palabras largas se rompan y no desborden
        white-space: normal;    // Evita que el texto se quede en una sola línea
        width: 100%; 
margin: 0;
    }
    .precio{
        color:v.$verde;
        font-weight: v.$bold;
        font-size: 3rem;
    }
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width:40rem ;
    li{
        flex: 1;
        display: flex;
        img{
            flex:0 0 3rem;
            margin-right: 1rem;
        }
        p{
            font-weight: v.$black;
        }
    }
}