@use '../base/mixins' as m;
@use '../base/variables' as v;




@include m.tablet {
    .seccion-contenedor{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        
    }
    .contenedor-anuncios {
        @include m.grid(1,2rem);

       
        
    
    }
    .contenido-anuncio{
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }

   

}
@include m.desktop {

  .seccion-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
    .contenedor-anuncios {
        @include m.grid(3,3rem);
      
    }
.contenido-anuncio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Asegura que el contenido se alinee verticalmente */
    text-align: center; 
    
    
  
}
.iconos-caracteristicas li {
    display: flex;
    align-items: center;
    gap: 10px; // Espacio entre imagen y texto
}
.iconos-caracteristicas p {
    padding: 10px;
}
.precio{
    color:v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}


}

@include m.telefono{
    
    .contenedor-anuncios {
        @include m.grid(1, 0.5rem);
        margin-left: 5px;
        .anuncio{
            width:380px;
            height:730px;
            
        }
    }
    .contenido-anuncio{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
    }
    .iconos-caracteristicas li {
        display: flex;
        align-items: center;
        gap: 5px; 
    }
    .iconos-caracteristicas p {
        padding: 10px;
    }


}
.anuncio{
    width:430px;
    height:740px;
    display: flex;
    flex-direction: column;
    background-color:v.$gris;
    border: 1px solid v.$grisOscuro;
    
    .contenido-anuncio{
        padding:1rem ;
        
    }
    
    h3, p{
        word-wrap: break-word;  
        white-space: normal;    
        width: 100%; 
margin: 0;
    }
    .precio{
        color:v.$verde;
        font-weight: v.$bold;
        font-size: 3rem;
    }
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width:40rem ;
    li{
        flex: 1;
        display: flex;
        img{
            flex:0 0 3rem;
            margin-right: 1rem;
        }
        p{
            font-weight: v.$black;
        }
    }
}