@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer{
    
    background-color:v.$grisOscuro;
    padding-top:v.$separacion;
   
    

    
    .contenedor-footer{
        padding-top:v.$separacion;
       
    
    }
    .copyright{
        text-align: center;
        color:v.$blanco;
    }
    .navegacion{
        a{
            margin-left: 15px;
            
        }
        @include m.telefono{
            align-items: center;
        }
        @include m.tablet{
            align-items: center;
        }
    }
    
}
