@use '../base/variables' as v;
@use '../base/mixins' as m;

html, body {
    height: 100%;
    margin: 0;
    
  }

.inicio{
    background-image:url(/src/img/header.jpg);

}


.header{
    background-color:v.$grisOscuro;
    padding: 1rem 0 3rem 0;
    
   

    &.inicio{
        background-position: center center;
        background-size: cover;
        @include m.tablet{
            min-height: 60rem;
        }
       
        .contenido_header{
            @include m.tablet{
                min-height: 70rem;
                    }

                    @include m.desktop{
                        min-height: 70rem;
                         
                
                    }
        }
       
        

    }
}
.contenido_header{
    display: flex;
    flex-direction: column;
    justify-content:space-between;

 
    
    h1{
        text-align: left;
        color:v.$blanco;
        font-weight: bold;
        line-height: 2;

    }
}